@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">歡迎蒞臨深夜食堂留言板</h1>
<h2 class="text-danger">目前人潮眾多，造成服務無法立即執行，請稍後再試</h2>
<img src="~/SeedSourcePhoto/404.gif" class="text-center"></img>
