@model Homework.Models.ReBook

@{
    Layout = null;
}


<div class="row text-primary">
    <div class="col">
        <form asp-action="Create" id="reForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" rows="4"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Author" class="control-label"></label>
                <input asp-for="Author" class="form-control" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            <input type="hidden" name="GId" id="GId" value="@ViewBag.GId"/>

        </form>
    </div>
</div>

